{% extends 'base.html.twig' %}

{% block title %}Movies &middot; Symfony AI Demo{% endblock %}

{% block body_class 'movies-browser' %}

{% block content %}
    <div class="movie-browser">
        <div class="card shadow-sm">
            <div class="card-header d-flex align-items-center gap-2 p-2">
                {{ ux_icon('movie', { class: 'ms-1' }) }}
                <strong class="pt-1 d-inline-block">Movie Browser</strong>
            </div>
            <div class="card-body p-3">
                <twig:movie_browser />
            </div>
        </div>
    </div>
{% endblock %}
